@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jomhuria", cursive;
}

:root {
  --main-color: #863434;
  --white-color: #fcf7f7;
}

body {
  background-color: var(--main-color);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

h2{
  text-align: center;
  font-size: 41px;
}

p{
  font-size: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--white-color);
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  margin-bottom: 4rem;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  margin-bottom: 4rem;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.right-align {
  align-items: flex-end;
}

.left-align {
  align-items: flex-start;
}

.row section p {
  font-size: 24px;
}

/* flex container */
.header {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* flex item */
.navigations {
  display: flex;
  gap: 3rem;
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  flex-shrink: 1;
}

/* flex item */
.site__logo {
  width: 120px;
  height: 100px;
}

.navigations a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  margin-right: 10px;
}

/* flex item */
.btn__contact {
  width: 150px;
  padding: 10px;
  font-size: 1.3rem;
  border: none;
  border-radius: 25px;
  background-color: green;
  color: white;
  margin: 10px 10px;
}


.icon {
  display: grid;
  border: 1em solid #863434;
  width: 70px;
  height: 70px;
 
 
}

.black-background{
  background-color: black;
  color: white;
  padding: 20px;

}

h2{
  font-size: 30px;
  text-align: left;
   width: 100%;
}

h1{
  text-align: center;
}

h4{
font-size: 25px;
width: 1005;
text-align: left;
}

.green-link{
  color: lightgreen;
}